<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HomeEeEe I'm ion-title</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <ion-row justify-content-center>
      <ion-col col-11>
        <ion-item>
          <ion-label floating>Write the title here</ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="validation-summary alert alert-danger">
          <div *ngIf="title.errors.required">
            Title is required.
          </div>
          <!-- <div *ngIf="title.errors.maxlength">
              Name must be at max 20 characters long.
            </div> -->
        </div>
      </ion-col>
    </ion-row>

    <div formArrayName="postPieces">
      <!--  margin-bottom -->
      <section [formGroupName]="i" *ngFor="let piece of postForm.controls.postPieces.controls; let i = index">
        <ion-item-group>
          <ion-row justify-content-center>
            <ion-item-divider col-11 color="light">
              <!-- <div style="display: inline-block">Piece #{{ i + 1 }} <div style="display: inline-block"><a item-inner float-right ion-button icon-left clear
                    *ngIf="postForm.controls.postPieces.length > 1" (click)="removePostPiece(i)">
                    <ion-icon col-4 name="close"></ion-icon>
                    Remove
                  </a></div>
              </div> -->
              Piece #{{ i + 1 }} 
              <ion-buttons end >
                  <button ion-button color="primary" *ngIf="postForm.controls.postPieces.length > 1" (click)="removePostPiece(i)">
                    <ion-icon name="close"></ion-icon>
                    Remove
                  </button>
                </ion-buttons>
              <ion-col>
              </ion-col>
            </ion-item-divider>
          </ion-row>

          <ion-row justify-content-center>
            <ion-col col-11>
              <ion-item class="textarea-item">
                <ion-label floating>Write your text here</ion-label>
                <ion-textarea formControlName="text" rows="5"></ion-textarea>
              </ion-item>
              <!-- <div *ngIf="text.invalid" class="alert alert-danger">
                  <div *ngIf="text.errors.maxlength">
                    Text must be at max 20 characters long.
                  </div>
                </div> -->
            </ion-col>
          </ion-row>
          <!-- Allow generated input field to be removed -->
        </ion-item-group>
      </section>
    </div>

    <!-- Allow new input field to be generated/added -->
    <span ion-button float-left icon-left clear (click)="addNewPostPiece()">
      <ion-icon name="add"></ion-icon>
      Add new post piece
    </span>


    <ion-row>
      <ion-toolbar>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      </ion-toolbar>
      <ion-list *ngIf>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row>
      <ion-auto-complete [dataProvider]="completeTestService" formControlName="country"></ion-auto-complete>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-3>
        <button ion-button block type="submit" [disabled]="!postForm.valid" color="ask">
          <b>Post Me!</b>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>